canvas {
  /* border: 1px solid #000; */
  display: block;
  margin: 0 auto;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
}

#graph {
  margin: 0 auto;
  height: 66%;
  width: 500px;
  display: flex;
  align-items: center;
}

.bar {
  
}

.legend {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
}

.bar:hover {
  fill: gray;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}