html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  font-family: sans-serif;
}

canvas {
  /* border: 1px solid #000; */
  display: block;
  margin: 0 auto;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  background-color: cornsilk;
}

#graph {
  margin: 0 auto;
  height: 66%;
  width: 500px;
  display: flex;
  align-items: center;
}

.bar {
  fill: cornflowerblue;
}

.legend {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
}

.bar:hover {
  fill: orangered;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  color: white;
}

h9 {
  font-size: 9px;
}